/* // ----- vars -----// */
:root {
    --color:  #FF6ADE;
  }
 
  
  /* // ----- general -----// */

  
  .field {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 900px;
    border-width: 6px;
    border-style: solid;
    filter: brightness(1.25);
    overflow: hidden;
    border-color: var(--color);
    box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
    
  }
    
    .net {
      width: 0;
      height: 95%;
      
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-width: 3px;
      border-style: dotted;
      border-color: var(--color);
      box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
  }
    
    .ping, .pong {
      width: 4px;
      height: 30px;
      
      position: absolute;
      
      background: var(--color);
      box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
    }
    
    .ping {
      left: 6%;
      animation: ping 6s infinite linear;
      box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
    }
    
    .pong {
      right: 6%;
      animation: pong 6s infinite linear;
      box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
    }
    
    .ball {
      width: 5px;
      height: 5px;
      
      position: absolute;
      background: var(--color);
      
      animation: ball 6s infinite linear;
    }
  
/*   
  // ----- keyframes ------ */
  
  @keyframes ball {
    0% { 
      /* // start in the middle */
      top: 34%;
      left: 52%;
    }
    8.3% { 
      top: 52%;
      left: 90%;
    }
    24.9% { 
      top: 85%;
      left: 8%;
    }
    30% {
      top: 98%;
      left: 27%;
    }
    41.5% { 
      top: 70%;
      left: 90%;
    }
    58.1% { 
      top: 55%;
      left: 8%;
    }
    74.7% { 
      top: 13%;
      left: 90%;
    }
    79% {
      top: 1%;
      left: 70%;
    }
    91.3% { 
      top: 22%;
      left: 8%;
    }
    100% { 
      top: 34%;
      left: 52%;
    }
  }
  
  @keyframes ping { 
    /* // left player */
    0% {
      top: 10%;
    }
    5% {
      top: 10%;
    }
    9% {
      top: 24%;
    }
    13% {
      top: 17%;
    }
    24.9% { 
      top: 82%;
    }
    47% {
      top: 37%;
    }
    52% {
      top: 41%;
    }
    56% {
      top: 64%;
    }
    58.1% {
      top: 54%;
    }
    70% {
      top: 74%;
    }
    84% {
      top: 12%;
    }
    91.3% { 
      top: 18%;
    }
    100% {
      top: 10%;
    }
  }
  
  @keyframes pong { 
    /* // right player */
    0% {
      top: 90%;
    }
    8.3% { 
      top: 51%;
    }
    20% {
      top: 60%;
    }
    25% {
      top: 34%;
    }
    41.5% { 
      top: 68%;
    }
    46% {
      top: 36%;
    }
    52% {
      top: 18%;
    }
    58.1% {
      top: 53%;
    }
    66% {
      top: 14%;
    }
    70% {
      top: 20%;
    }
    74.7% {
      top: 10%;
    }
    91.3% { 
      top: 10%;
    }
    100% {
      top: 90%;
    }
  }