.main {
  /* background-image: url("pong.jpg"); */
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  color: white;
}

.slogan {
  color: white;
}

.description {
  color: white;
}

.button {
  background-color: aqua;
}

.navBar{

  background-color: grey;
  justify-content: space-between;
  display: flex;
}