.home {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

  }

  .homeElement{
    padding: 2vw;
  }

  .homeElementIMG{
    object-fit: fill;
  }

  /* Resize une image
  * Faire une div de la taille desirer
  * puis dans le style de l image mettre
      style={{
      resizeMode: "cover",
      width: "100%",
      height: "100%",
    }}
    afin que l'image cover bien la taille de la div
  */
