## Editor
.vscode
*~
\#*\#
*.prettierrc

## Other
.DS_Store
.done
/srcs/server/files/*
/node_molules

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# env files
.env
*.env.*