@font-face {
  font-family: 'sharpin';
  src: url('../../fonts/SHARPIN.otf');
}

/* Game list */
.game-list tr td:nth-child(1) { 
  width: 30%;
}
.game-list tr td:nth-child(2) { 
  width: 5%;
}
.game-list tr td:nth-child(3) { 
  width: 4%;
}
.game-list tr td:nth-child(4) { 
  width: 2%;
}
.game-list tr td:nth-child(5) { 
  width: 4%;
}
.game-list tr td:nth-child(6) { 
  width: 5%;
}
.game-list tr td:nth-child(7) { 
  width: 30%;
}
.game-list tr td:nth-child(8) { 
  width: 20%;
}
