
.blueBox
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;

	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;
	margin: 2px;
	padding: 2px;
}

.blueBoxColumn
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;
	margin: 1vw;
	padding: 0.9vw;
	max-height: 50vh;
}

.yellowBlueBox
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;

	border: 3px solid #DCCA2A;
	box-shadow: 0px 4px 10px rgba(30, 166, 166, 0.95),
				0px 4px 10px rgba(30, 166, 166, 0.95),
				0px 0px 15px rgba(128, 255, 255, 0.25);
	border-radius: 40px;
	margin: 2px;
	padding: 2px;
}

.yellowPinkBox
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;

	border: 3px solid #DCCA2A;
	box-shadow: 0px 0px 7.49518px #FF6ADE,
				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
	border-radius: 40px;
	margin: 2px;
	padding: 2px;
}

.profilBox
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 3px solid #DCCA2A;
	box-shadow: 0px 0px 7.49518px #FF6ADE,
				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
	border-radius: 50%;
	margin: 2px;
	width: 10vw;
	height: 10vw;
}



.yellowPinkBoxLadder
{
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	border: 3px solid #DCCA2A;
	box-shadow: 0px 0px 7.49518px #FF6ADE,
				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
	border-radius: 40px;
	margin: 0.5vw;
	padding: 2px;
}

.blueBoxLadder
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;


	border-radius: 3vw;
	margin: 1vw;
	padding: 0.9vw;
	max-height: 50vh;
}

.blueBoxMatch
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;
	margin: 1vw;
	padding: 0.9vw;
	max-height:40vh;
	min-height : 20vh;
}

.scrollBox
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1vw;
	padding: 0.9vw;
	max-height:35vh;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollBox::-webkit-scrollbar {
	display: none;
  }

.yellowPinkBoxButtonProfil
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: space-around;

	border: 3px solid #DCCA2A;
	box-shadow: 0px 0px 7.49518px #FF6ADE,
				0px 0px 25.6977px #CA18A3;
	border-radius: 40px;
	margin: 0.25em;
	padding: 0.16em;
}

/* Custom your Box
* add into your div
*           style={{
*           width: "227px",
*           height: "82px",
*           left: "500px",
*          top: "350px",
*          overflow: "auto"
*           }}>
* width / height for the shape of your box
* left / top for the position in the page
* overflow: "auto" -> create an automatic scrolling
* display...
*/
