@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,900');

:root {
	--weight: 400;
	--height: 20px;
}

.blueText{
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--weight);
  line-height: var(--height);
  /* identical to box height */

  text-align: center;
  color: #80FFFF;
  text-shadow:	0px 0px 7.49518px #6ABDFF,
  				0px 0px 14.9904px #3D9FEE,
				0px 0px 25.6977px #187BCA;
}

.yellowText{
  font-family: 'Montserrat', sans-serif;
  font-style: sans-serif;
  font-weight: var(--weight);
  line-height: var(--height);
  /* identical to box height */

  text-align: center;
  color: #FFE710;
  text-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
}

.greenText{
  font-family: 'Montserrat', sans-serif;
  font-style: sans-serif;
  font-weight: var(--weight);
  line-height: var(--height);
  /* identical to box height */

  text-align: center;
  color: #6dfc72;
  text-shadow:	0px 0px 7.49518px #30fc93,
				0px 0px 25.6977px #30fc93;
}

.redText{
  font-family: 'Montserrat', sans-serif;
  font-style: sans-serif;
  font-weight: var(--weight);
  line-height: var(--height);
  /* identical to box height */

  text-align: center;
  color: #f84b4b;
  text-shadow:	0px 0px 7.49518px #f65d52,
				0px 0px 25.6977px #d52828;
}

.pinkText{
  font-family: 'Montserrat', normal;
  font-style: sans-serif;
  font-weight: var(--weight);
  line-height: var(--height);
  /* identical to box height */

  text-align: center;
  color: #FF80F2;
  text-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
}

.playFlickering {
	font-family: 'Montserrat', normal;
	font-style: sans-serif;
	font-weight: 500;
	font-size: 2vw;
	animation: flicker 2.5s infinite alternate;
	color: #FFE710;
	padding: 6%;
  }

  /* Flickering animation */
  @keyframes flicker {
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow:	0px 0px 7.49518px #FF6ADE,
						      0px 0px 14.9904px #EA3DEE,
	  				      0px 0px 25.6977px #CA18A3;
	}
	20%, 24%, 55% {
		text-shadow: none;
	}
  }

