.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1040;
	background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
	display: flex;
	align-items: center;
  }

  .modal2 {
	z-index: 100;
	background: rgb(0, 0, 0);
	position: relative;
	margin: auto;
	border: 3px solid #DCCA2A;
	box-shadow: 0px 0px 7.49518px #FF6ADE,
				0px 0px 25.6977px #CA18A3;
	border-radius: 40px;
	border-radius: 40px;
	max-width: 500px;
	width: 80%;
	padding: 1rem;
  }

  .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  .modal-close-button {
	font-size: 1.4rem;
	font-weight: 700;
	color: #DCCA2A;
	cursor: pointer;
	border: none;
	background: transparent;
  }

  button.modal-toggle {
	background-color: turquoise;
	cursor: pointer;
	padding: 1rem 2rem;
	text-transform: uppercase;
	border: none;
  }

  .inputContent{
    width: 50%;
    height: auto;
    background-color:white;
    color: black;
    font-size: 1em;
	margin-top: 1vw;
	margin-bottom: 0.5vw;
	padding : 0.5vw;

	box-shadow: 0px 2px 5px #80FFFF;

	border-radius: 3vw;
	}

	.inputSubmit{
		width: 10%;
		height: auto;
		background-color:rgb(0, 0, 0);
		color: rgb(255, 217, 5);
		font-size: 1em;
		margin-left: 1vw;
		margin-bottom: 0.5vw;
		padding : 0.5vw;

		border: 3px solid #DCCA2A;
		box-shadow: 0px 0px 7.49518px #FF6ADE,
		0px 0px 14.9904px #EA3DEE,
		0px 0px 25.6977px #CA18A3;
		border-radius: 3vw;
		}

