*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title
{
	margin-top: 10%;
    height: 20%;
}
.body
{
    height: 100%;
}


.login {
	font-family: 'Montserrat', sans-serif;
	border: none;
	background-color: transparent;
	color: #FFE710;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 30px;
	animation: flicker 2.5s infinite alternate;
	text-decoration: none; 
	padding: 1em 1.75em;

	box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
	transition: box-shadow 0.1s linear;
	margin: 0.5em;



  }
  @keyframes flicker {
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow:	0px 0px 7.49518px #FF6ADE,
						      0px 0px 14.9904px #EA3DEE,
	  				      0px 0px 25.6977px #CA18A3;
	}
	20%, 24%, 55% {
		text-shadow: none;
	}
}

*, *:before, *:after { box-sizing: border-box; }

.login:hover { 
	box-shadow:	0px 0px 7.49518px 10px #FF6ADE,
  				0px 0px 14.9904px 10px #EA3DEE,
				0px 0px 25.6977px 10px #CA18A3;
}