*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title
{
	margin-top: 10%;
    height: 20%;
}
.body
{
    height: 100%;
}

.screen1
{
  position: relative;
  float: left;
	box-sizing: border-box;
	display: flex;
    margin-left: 10%;
  width: 30%;
	justify-content: center;

	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;

	padding: 2px;
}

.screen2
{
    position: relative;
    float: right;
	box-sizing: border-box;
	display: flex;
    width: 30%;
    height: 30%;
	justify-content: center;
	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;
    margin-right: 10%;
}
input  
{
    font-size: 1%;
    color: transparent;
}