
 .titleChoiceMap
 {
  height: 10%;
 }
.mainFrame
{
  height: 100%;
}
.frame1
{
  border: solid;
  background-color: transparent;
  border-color:blue;
  display:inline-block;
  width: 50%;
  height: 30%;
  display: inline-block;

}
.frame2
{
  border: solid;
  background-color: transparent;
  display: inline-block;
  border-color:white;
  width: 50%;
  height: 30%;

  
}
.frame3
{
  border: solid;
  background-color: transparent;
  display: inline-block;
  border-color:white;
  width: 50%;
  height: 30%;
  border-color:red;
  
}
.frame4
{
  border: solid;
  background-color: transparent;
  display: inline-block;
  border-color:white;
  width: 50%;
  height: 30%;
  border-color:yellow;
  
}