/* .home {
  position: absolute;
  text-align: center;
  height: 90%;
  width: 100%;

  } */

.title1
{
  height: 10%;
  position:relative;
  
}

.homeElement1{
  height: 10%;
  position:relative;
  
}

.homeElement2{
  height: 10%;
}

.containerForField{
    height: 30%;
    position:relative;
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  min-width: 150px;
   

  }

  .blueContainer1
{
  position: absolute;
  left: 0;
	justify-content: center;
  width: 30%;
	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;
	margin: 15%;
	padding: 2px;
}

.blueContainer2
{
  position: absolute;
  right: 0;
	justify-content: center;
  width: 30%;

	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;
	margin: 15%;
	padding: 2px;
}