.home {
  
  text-align: center;

  }

.title
{
  position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding-top: 3%;
}
  .homeElement1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
  .homeElement2{
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding-top: 3%;
    

  }

  .pongImage{
    
    width: 80%;
    max-width: 90vh;
    max-height: 90vh;
  }

  /* // ----- vars -----// */
  :root {
    --color:  #FF6ADE;
  }
 
  
  /* // ----- general -----// */

  
  .field {
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 4%;
    width: 50%;
    height: 300px;
    margin-left: 25%;
    border-width: 6px;
    border-style: solid;
    filter: brightness(1.25);
    overflow: hidden;
    border-color: var(--color);
    box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
    
  }
    
    .net {
      width: 0;
      height: 95%;
      
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-width: 3px;
      border-style: dotted;
      border-color: var(--color);
      box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
  }
    
    .ping, .pong {
      width: 4px;
      height: 30px;
      
      position: absolute;
      
      background: var(--color);
      box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
    }
    
    .ping {
      left: 6%;
      animation: ping 6s infinite linear;
      box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
    }
    
    .pong {
      right: 6%;
      animation: pong 6s infinite linear;
      box-shadow:	0px 0px 7.49518px #FF6ADE,
  				0px 0px 14.9904px #EA3DEE,
				0px 0px 25.6977px #CA18A3;
    }
    
    .ball {
      width: 5px;
      height: 5px;
      
      position: absolute;
      background: var(--color);
      
      animation: ball 6s infinite linear;
    }
  
/*   
  // ----- keyframes ------ */
  
  @keyframes ball {
    0% { 
      /* // start in the middle */
      top: 34%;
      left: 52%;
    }
    8.3% { 
      top: 52%;
      left: 90%;
    }
    24.9% { 
      top: 85%;
      left: 8%;
    }
    30% {
      top: 98%;
      left: 27%;
    }
    41.5% { 
      top: 70%;
      left: 90%;
    }
    58.1% { 
      top: 55%;
      left: 8%;
    }
    74.7% { 
      top: 13%;
      left: 90%;
    }
    79% {
      top: 1%;
      left: 70%;
    }
    91.3% { 
      top: 22%;
      left: 8%;
    }
    100% { 
      top: 34%;
      left: 52%;
    }
  }
  
  @keyframes ping { 
    /* // left player */
    0% {
      top: 10%;
    }
    5% {
      top: 10%;
    }
    9% {
      top: 24%;
    }
    13% {
      top: 17%;
    }
    24.9% { 
      top: 82%;
    }
    47% {
      top: 37%;
    }
    52% {
      top: 41%;
    }
    56% {
      top: 64%;
    }
    58.1% {
      top: 54%;
    }
    70% {
      top: 74%;
    }
    84% {
      top: 12%;
    }
    91.3% { 
      top: 18%;
    }
    100% {
      top: 10%;
    }
  }
  
  @keyframes pong { 
    /* // right player */
    0% {
      top: 90%;
    }
    8.3% { 
      top: 51%;
    }
    20% {
      top: 60%;
    }
    25% {
      top: 34%;
    }
    41.5% { 
      top: 68%;
    }
    46% {
      top: 36%;
    }
    52% {
      top: 18%;
    }
    58.1% {
      top: 53%;
    }
    66% {
      top: 14%;
    }
    70% {
      top: 20%;
    }
    74.7% {
      top: 10%;
    }
    91.3% { 
      top: 10%;
    }
    100% {
      top: 90%;
    }
  }

  .blueContainer1
{
  position: relative;
  float: left;
	box-sizing: border-box;
	display: flex;
  width: 30%;
	justify-content: center;

	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;
	margin: 15%;
	padding: 2px;
}

.blueContainer2
{
  position: relative;
  float: right;
	box-sizing: border-box;
	display: flex;
  width: 30%;
	justify-content: center;

	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	border-radius: 3vw;
	margin: 15%;
	padding: 2px;
}