.row {
    color: white;
}

.col-2 {
	display: flex;
	flex-direction: row;

    border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
}

.col-10 {
    border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
}

.titles {
	color: #FFE710;
    text-shadow:	0px 0px 7.49518px #FF6ADE,
                    0px 0px 14.9904px #EA3DEE,
                    0px 0px 25.6977px #CA18A3;
}

.plus {
	text-align: right;

	color: #FFE710;
    text-shadow:	0px 0px 7.49518px #FF6ADE,
                    0px 0px 14.9904px #EA3DEE,
                    0px 0px 25.6977px #CA18A3;
}

.button {
	border: none;
    background-color: rgb(5, 2, 30);
}