
.navBar{
	height: 10vw;
	width: auto;
	display: flex;
	flex-direction: row;
	/* border: 5px solid white; */
	align-items: center;
  }

.menuInNavBar{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	font-size: 1vw;
	flex-direction: row;
	align-items: center;
  }

.boutonsInNavBar{
	color: white;
	margin-left: 2vw;
	margin-right: 2vw;
  }

  .boutonsInNavBar:first-child{
	color: rgb(8, 218, 255);
	margin-right: auto;
	margin-left: 2%;
	font-size: 2vw;
  }
