.buttonInNavBar{
	color: rgb(255, 6, 6);
	margin-left: 2vw;
	margin-right: 2vw;
  }


/* .navbar-toggler {
	border: 3px solid #80FFFF;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
} */
.navbar-toggler-icon {
	border: 3px solid #80FFFF;
	border-radius: 25px;
	box-shadow: 0px 4px 15px #80FFFF,
				4px 0px 10px rgba(30, 166, 166, 0.95),
				0px 0px 10px rgba(255, 255, 255, 0.521);
	background-image: url();
	/* background-image: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%284, 247, 249, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e); */
}

.nav-link {
	margin-left:12px;
	margin-right:12px;
  }

  a {
	text-decoration: none; 
	/* text decoration  */
	position:relative;
	padding: 10px 0px;
	color: #FFE710;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;

  }

   a:hover{
	transition-delay: 1s;

  } 
 
  a span{
	position: absolute;
	display: block;
  }

  a span:nth-child(1)
  {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background:linear-gradient(90deg, transparent,  #FFE710);
  }
  a:hover span:nth-child(1)
  {
	left: 100%;
	transition: 1s;
  }

  a span:nth-child(3)
  {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background:linear-gradient(270deg, transparent,  #FFE710);
  }
  a:hover span:nth-child(3)
  {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
  }
  a span:nth-child(2)
  {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background:linear-gradient(180deg, transparent,  #FFE710);
  }
  a:hover span:nth-child(2)
  {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
  }

  a span:nth-child(4)
  {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background:linear-gradient(360deg, transparent,  #FFE710);
  }
  a:hover span:nth-child(4)
  {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
  }


 
  a .span1{
	position: absolute;
	display: block;
  }

  a .span1:nth-child(1)
  {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background:linear-gradient(90deg, transparent,   #2196F3);
  }
  a:hover .span1:nth-child(1)
  {
	left: 100%;
	transition: 1s;
  }

  a .span1:nth-child(3)
  {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background:linear-gradient(270deg, transparent,  #2196F3);
  }
  a:hover .span1:nth-child(3)
  {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
  }
  a .span1:nth-child(2)
  {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background:linear-gradient(180deg, transparent,   #2196F3);
  }
  a:hover .span1:nth-child(2)
  {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
  }

  a .span1:nth-child(4)
  {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background:linear-gradient(360deg, transparent,  #2196F3);
  }
  a:hover .span1:nth-child(4)
  {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
  }
