/* Buttons */
.btn {
  --bs-btn-active-border-color:transparent;
  --bs-btn-active-bg:transparent;
  --bs-btn-active-color:transparent;
  border-radius: 40px;
}

.btn:focus, .btn:enabled {
  outline: none;
}

.btn-blue {
  --bs-btn-hover-color: #80FFFF;
  --bs-btn-hover-bg: #214141;
  --bs-btn-hover-border-color: #b4e8f1;
  --bs-btn-active-color: #80FFFF;
  --bs-btn-active-bg: #214141;
  --bs-btn-active-border-color: #b4e8f1;
	border: 2px solid #b4e8f1;
  background-color: rgb(5, 2, 30);
  box-shadow: 0px 0px 5px #60c2c2,
              inset 0px 0px 5px #60c2c2,
				      0px 0px 6px #214141,
				      inset 0px 0px 6px #214141;
}

.btn-pink {
  --bs-btn-hover-color: #FF80F2;
  --bs-btn-hover-bg: #49073b;
  --bs-btn-hover-border-color: #eb89d6;
  --bs-btn-active-color: #FF80F2;
  --bs-btn-active-bg: #49073b;
  --bs-btn-active-border-color: #eb89d6;
	border: 2px solid #eb89d6;
  background-color: rgb(5, 2, 30);
  box-shadow:	0px 0px 5px #FF6ADE,
              inset 0px 0px 5px #FF6ADE,
  				    0px 0px 6px #852388,
              inset 0px 0px 6px #852388;
}
.btn-yellow {
  --bs-btn-hover-color: #f5df17;
  --bs-btn-hover-bg: #b90ba262;
  --bs-btn-hover-border-color: #fceb06;
  --bs-btn-active-color: #f5df17;
  --bs-btn-active-bg: #b90ba262;
  --bs-btn-active-border-color: #fceb06;
	border: 2px solid #DCCA2A;
  background-color: rgb(5, 2, 30);
  box-shadow:	0px 0px 5px #FF6ADE,
              inset 0px 0px 5px #FF6ADE,
  				    0px 0px 6px #852388,
              inset 0px 0px 6px #852388;
}

.btn-dark-pink {
  --bs-btn-hover-color: #fda1f4;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-active-color: #fda1f4;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
	border: none;
  background-color: rgb(5, 2, 30);
}
